<!DOCTYPE html>
<html lang="${lang}" xml:lang="${lang}">
    <head>
        ${partials/head.html()}
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fork-awesome@1.2.0/css/fork-awesome.min.css" integrity="sha256-XoaMnoYC5TH6/+ihMEnospgm0J1PM/nioxbOUdnM8HY=" crossorigin="anonymous">
    </head>
    <body>
        ${partials/header.html()}
            <div class="posts-list">
            ${if(title)}
                <header class="header-bloc">
                    <h2>${title}</h2>
                </header>
            <div>
                ${body}
            </div>
            </div>
            <div class="description-site">
                <header class="header-bloc">
                    <h2>${second-title}</h2>
                </header>
                <div class="content">
                    ${resume}
		    <i class="fa fa-orcid" aria-hidden="true"></i>
		    <i class="fa fa-hal" aria-hidden="true"></i>
                </div>
            </div>
            ${endif}
        ${partials/footer.html()}
    </body>
</html>
