<!DOCTYPE html>
<html lang="${lang}" xml:lang="${lang}">
    <head>
        ${partials/head.html()}
    </head>
    <body>
        ${partials/header.html()}
            <div class="posts-list">
            ${if(title)}
                <header class="header-bloc">
                    <h2>${title}</h2>
                </header>
            <div>
                ${body}
            </div>
            </div>
            <div class="description-site">
                <header class="header-bloc">
                    <h2>${second-title}</h2>
                </header>
                <div class="content">
                    ${resume}
                </div>
            </div>
            ${endif}
        ${partials/footer.html()}
    </body>
</html>
