<!DOCTYPE html>
<html lang="${lang}" xml:lang="${lang}">
  <head>
    ${partials/head.html()}
    <link rel="stylesheet" type="text/css" href="/css/publications.css" />
  </head>
  <body>
    ${partials/header.html()}

    <div class="container-publications">
      ${if(title)}
      <header class="header-bloc">
        <h1>${title}</h1>
        ${if(subtitle)}
        <h2>${subtitle}</h2>
        ${endif}
        ${if(date)}
        <time>${date}</time>
        ${endif}
      </header>
      ${endif}

      <div class="content-publications">
        <div id="mainLayout">
          <aside id="sidebar">
            <h3>Tags</h3>
            <ul id="tagList"></ul>
          </aside>

          <section id="gridSection">
            <h3>Liste des publications</h3>
            <table id="publicationTable">
              <thead>
                <tr>
                  <th>Type</th>
                  <th>Titre</th>
                  <th>Date</th>
                </tr>
              </thead>
              <tbody></tbody>
            </table>
          </section>

          <section id="detailsSection">
            <h3>Détails</h3>
            <div id="itemDetails"></div>
          </section>
        </div>
      </div>
    </div>

    ${partials/footer.html()}

    <script type="module" src="/js/populateHtmlWithZoteroObjects.js"></script>
  </body>
</html>