<!DOCTYPE html>
<html lang="${lang}" xml:lang="${lang}">
    <head>
        ${partials/head.html()}
    </head>
    <body>
        ${partials/header.html()}
        ${if(toc)}
        <div class="side">

            <nav class="toc">
${table-of-contents}
            </nav>
        </div>
        ${endif}
            <div class="container">
${if(title)}
                <header class="header-bloc">
                    <h1>${title}</h1>
<!-- ${if(subtitle)}
                    <h2>${subtitle}</h2>
${endif} -->
${if(date)}
                    <time>${date}</time>
${endif}
<!-- ${if(author)}
                    <p>${author}</p>
${endif} -->
                </header>
${endif}
${if(body)}
                <div class="content">
${body}
${if(refs)}
                <h2>Références</h2>
${refs}
${endif}
            </div>
${endif}
        </div>
${partials/footer.html()}
    </body>
</html>